*.swp
tags
.DS_Store
.repo/
build.gtest/
build.tests/
build/
cmake/
gtest/
installed.host/
ringbuffer/
.ant-targets-build.xml
serialport/
build.serialport
build.app
docopt
build.docopt
asio
build.*
install*
